video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px
}

h1,h2,p{
  font-family: 'Roboto', sans-serif;
}
 p {
  background-color: rgb(198, 201, 240);
  padding:10px
 }
 button {
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  padding:10px;
  border:2px solid rgb(144, 149, 207);
  background-color:antiquewhite;
 }
 button:hover {
  background-color:rgb(144, 149, 207) ;
 }